In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("six variable data set.csv")

In [4]:
df.shape

(2596, 7)

In [7]:
df['smoking'].value_counts()

1    1871
4     319
2     309
3      97
Name: smoking, dtype: int64

In [8]:
319+309+97

725

In [9]:
df = df.replace([2,3,4], 2)

In [10]:
df['smoking'].value_counts()

1    1871
2     725
Name: smoking, dtype: int64

In [11]:
df

,age,sex,average_simbolic_blood_pressure,cholesterol,diabetes,smoking,class
0,52,0,120.5,262,2,1,1
1,52,0,129.0,227,1,1,1
2,58,0,118.0,211,2,1,1
3,51,0,130.5,200,1,1,1
4,44,0,130.0,217,2,1,1
...,...,...,...,...,...,...,...
2591,48,1,167.5,214,2,2,0
2592,45,1,112.5,194,2,2,0
2593,52,1,137.0,218,2,2,0
2594,58,1,131.5,190,2,2,0
2595,57,1,129.5,222,2,2,0

In [14]:
df.to_csv("updated_dataset.csv", index=None)